# Example .env. Copy this file to `./.env` and replace values as appropriate
# Only .env values prefixed with PUBLIC_ can be used in client code
# If .env values are needed in configuration files, reference: https://docs.astro.build/en/guides/environment-variables/#in-the-astro-config-file