---
import Main from "../../layouts/Main.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const notes = await getCollection("notes");
    return notes.map((note) => ({
        params: { id: note.id },
        props: { note },
    }));
}

// 2. For your template, you can get the entry directly from the prop
const { note } = Astro.props;
const { Content } = await render(note);
---

<Main title={note.data.title}>
    <slot name="header">
        <h1>{note.data.title}</h1>
    </slot>
    <Content />
</Main>
