---
import ISODate from "../../components/ISODate.astro";
import Main from "../../layouts/Main.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const notes = await getCollection("notes");
    return notes.map((note) => ({
        params: { id: note.id },
        props: { note },
    }));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<Main title={note.data.title} description={`Note: ${note.data.title}`}>
    <slot name="header">
        <h1>{note.data.title}</h1>
        <p class="-mt-2">
            Published <ISODate date={note.data.published_date} />
        </p>
        <!-- TODO: Reading time, tags? -->
    </slot>

    <article class="prose dark:prose-invert lg:prose-xl mt-8 mx-auto">
        <Content />
    </article>
</Main>
