---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
---

<Layout title="notes">
  <h1>✍️ Notes</h1>

  <p>
    I plan to write about topics I find interesting and want to share a bit
    about. This may also include links to articles I find interesting.
  </p>

  <table class="table-auto">
    <tbody>
      {
        notes.map((note) => (
          <tr class="group">
            <td class="text-right">
              <span class="text-xs italic text-gray-800/65 group-hover:text-gray-800/100 font-bold">
                {note.data.created.toDateString()}
              </span>
            </td>
            <td>
              <a href={`/note/${note.slug}`} class="ml-2">
                {note.data.title}
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
