---
import Main from "../../layouts/Main.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
---

<Main title="notes">
    <h1>Things I write about</h1>
    <p>
        I don't write too often, but it is a goal of mine in 2025 and 2026 to
        write more about what I am working on, what I am learning, and what I am
        thinking about.
    </p>

    <ul class="mt-4">
        {
            notes.map((note) => (
                <li>
                    <p class="inline">
                        {note.data.published_date.toDateString()}
                    </p>{" "}
                    <a href={`/notes/${note.id}`}>{note.data.title}</a>
                </li>
            ))
        }
    </ul>
</Main>
