---
export const prerender = false;

import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";

const { tag } = Astro.params;

const notes = await getCollection("notes", ({ data }) => {
  return data.tags.includes(tag);
});
---

<Layout title={`notes tagged #${tag}`}>
  <h1>#{tag}</h1>

  {notes.length === 0 && <p>No notes match this tag.</p>}

  <ul>
    {
      notes.map((note: { slug: string; data: { title: string; }; }) => (
        <li>
          <a href={`/note/${note.slug}`}>{note.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
