@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-sans: var(--font-atkinson-hyperlegible-next), sans-serif;
    --font-mono: var(--font-atkinson-hyperlegible-mono), monospace;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    color: black;

    /* NOTE: When I use @media (prefers-color-scheme: dark), the colors update when I toggle dark
             mode in the browser settings, figure out if either way is more 'correct' */
    @variant dark {
        background-color: black;
        color: white;
    }
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--color-emerald-500);
    font-weight: var(--font-weight-semibold);

    @variant hover {
        color: var(--color-emerald-600);
    }
}
