---
import Main from "../../layouts/Main.astro";
import Entry from "../../components/Entry.astro";
import { db, ShaEntry } from "astro:db";


if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const username = data.get("username");
    const hash = data.get("renderedHash");

    if (typeof username === "string" && username.indexOf('/') !== -1 && typeof hash === "string") {
        await db.insert(ShaEntry).values({ username, hash });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.log("err happened")
      console.log(error.message);
    }
  }
}

const entries = await db.select().from(ShaEntry).orderBy(ShaEntry.hash);
---

<Main title="sha">
  <header class="my-8">
    <h1>
        <span class="underline">Challenge:</span> Generate the lowest SHA256 hash
    </h1>
    <p>I recently came across <a href="https://shallenge.quirino.net/">SHAllenge</a> and wanted to create it myself here. I also want to extend this to other hashing algorithms.</p>
    <h2 class="font-bold">Rules:</h2>
    <p>Submit a string in the format <span class="font-mono font-bold">&lbrace;username&rbrace;/&lbrace;nonce&rbrace;</span> where:</p>
    <ul>
        <li><span class="font-bold">&lbrace;username&rbrace;</span> is any username 1-16 characters long [a-zA-Z0-9_-]. This <span class="font-bold">IS</span> case-sensitive.</li>
        <li><span class="font-bold">&lbrace;nonce&rbrace;</span> is a string of <a href="https://datatracker.ietf.org/doc/html/rfc4648#section-4">valid base64</a> characters 1-64 characters long [a-zA-Z0-9+/]. This <span class="font-bold">IS</span> case-sensitive.</li>
    </ul>
    <p>For example: <span class="font-bold">taxborn/317892</span>, <span class="font-bold">testUser/a9fB+/32</span> <i>(note: test<span class="underline">u</span>ser/a9fB+/32 WOULD be a different hash as such, a different username)</i>, or <span class="font-bold">brxtn///////1/23123///12/312</span>.</p>
    <p>The resulting sha256 of your username is what will be ranked on the leaderboard.</p>
  </header>

  <section>
    <form method="POST">
        <label for="username" class="font-bold">Username</label>
        <div class="w-full flex">
            <input type="text" id="username" name="username" class="rounded-lg p-2 bg-transparent border-white border-2 flex-1 mr-2">
            <input type="text" hidden name="renderedHash" id="renderedHash">
            <button class="bg-white px-4 py-2 text-black rounded">Submit</button>
        </div>
        <p class="text-sm font-mono font-bold">sha256(<span id="hash_username" class="font-normal"></span>) = <span id="hash"></span></p>
    </form>
  </section>

  <section class="my-8">
      <h2 class="text-3xl font-bold mb-2">Leaderboard</h2>
        {entries.map((entry, i) => (
            <Entry entry={entry} idx={i} />
        ))}
  </section>

</Main>

<script>
const input = document.getElementById("username") as HTMLFormElement;
const hashInput = document.getElementById("renderedHash") as HTMLFormElement;
const fnInput = document.getElementById("hash_username") as HTMLElement;
const hashOutput = document.getElementById("hash") as HTMLElement;

// https://stackoverflow.com/questions/59777670/how-can-i-hash-a-string-with-sha256
const getSHA256Hash = async (input: string) => {
  const inputAsBuffer = new TextEncoder().encode(input);
  const hashBuffer = await window.crypto.subtle.digest("SHA-256", inputAsBuffer);
  const hashArray = Array.from(new Uint8Array(hashBuffer));
  const hash = hashArray
                .map((item) => item.toString(16).padStart(2, "0"))
                .join("");
  return hash;
}

input.addEventListener('change', async (event) => {
  const input = event.target as HTMLInputElement;
  fnInput.innerHTML = input.value;
  const hash = await getSHA256Hash(input.value);
  hashInput.value = hash;
  hashOutput.innerHTML = hash;
});
</script>
