---
import Layout from '@layouts/Layout.astro';
---

<Layout title="about">
	<h1>More about me</h1>
    <p>Hello! I am a software engineer currently working at Thomson Reuters. I am working on the Java development side
		of the GenAI portion of Westlaw. Day-to-day I am fixing bugs, learning on how to work on large-scale software, 
		and battling with Ivy in Eclipse.</p>
	<p>Outside of work, I am still very passionite about programming. I spend a lot of time coding and reading about 
		what's new in compilers and software, and dabbling in mathematics to keep sharp. One day I hope to tame the beast
		of functional programming and become proficient in Haskell or OCaml, but I haven't had the time to really drink that Kool-aid yet.</p>
	<p>When I'm not in front of the computer, I love to spend my time with my girlfriend, Mikhaila, and my 2-year-old domestic shorthair, Mischief.</p>
	<!-- TODO: Insert image of Mickey and Mischief -->
</Layout>

<style>
	p {
		@apply pt-2;
	}
</style>