---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="About">
  <header class="mb-2">
    <h1 class="text-4xl font-bold">What I do</h1>
    <p class="mb-2">
      I fell in love with computers really back when I was about 11 years old. I
      loved Mario Kart Wii at the time, and watching people on YouTube (<a
        href="https://www.youtube.com/@TWD98">TWD98</a
      > in particular!). I wanted to learn how people hacked the Wii. To no surprise,
      the foreign C-code and Assembly code (PowerPC if I recall correctly) immediately
      intimidated me, but I soon found a comfortable start with web development and
      took on HTML, CSS, and JavaScript for a couple of years to tinker with.
    </p>
    <p class="my-2">
      That eventually gave way to learning Minecraft mod development and
      learning Java. Dabbling in game development with Java (<a
        href="https://www.youtube.com/user/TheChernoProject">The Cherno</a
      > was a big inspiration for me at the time). After some more time I started
      getting into some lower level programming with Rust and C, and that is currently
      what piques my interest. Particularly, in the context of programming languages
      and compilers.
    </p>
    <p class="my-2">
      For my day job I primarily work with Java, Spring Boot, REST APIs, and
      some front-end work with React and Typescript, with the occasional .NET if
      need be.
    </p>
  </header>

  <section>
    <h2 class="text-3xl font-bold">Work history</h2>
    <p>
      More information on <a href="https://linkedin.com/in/braxtonfair"
        >my LinkedIn</a
      >.
    </p>

    <article class="my-4">
      <h3 class="text-2xl">
        <strong>Jun 2024 - Present</strong> Software Engineer @ Thomson Reuters
      </h3>
      <p>
        I joined a team under the Westlaw product at Thomson Reuters, leading
        integration of GenAI and LLMs into an online legal research service.
      </p>
    </article>

    <p class="italic text-dark-text/70">
      I took a month long vacation between graduation and starting full-time to
      travel to Ireland and the United Kingdom!
    </p>

    <article class="my-4">
      <h3 class="text-2xl">
        <strong>Mar 2022 - May 2024</strong> Software Engineer Intern @ Maverick
        Software/Thomson Reuters
      </h3>
      <p>
        I was a contracted out to Thomson Reuters through <a
          href="https://www.mavericksoftware.com/">Maverick Software</a
        >. I initially did QA work on a B2B REST API. Later on, I switched to a
        modernization effort to bring our existing applications from running on
        on-prem hardware to running in AWS.
      </p>
    </article>
  </section>
</Layout>
