---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-4xl font-bold mb-2">
        <span class="text-mauve font-black">#</span> About
    </h1>
	<p class="text-overlay2 italic">...continuation from the front page</p>
	<p class="my-2">
		After some years self-teaching web development and backends, I moved
		onto a more general purpose language, Java, as I was really into
		Minecraft my middle and high school years. I spent some time learning
		mod development and plugin development for servers, however learning
		Java opened up a new world of 'real' programming for me and I
		experimented with game development. However, quickly I realized I don't
		have the creativity required for indie game development, however this
		allowed me to be more comfortable exploring other languages, as I dived
		deeper into the machine in front of me.
	</p>
	<p class="mb-2">
		As I moved into my college years, I got lower and lower level. I started
		learning and fell in love with Rust to start learning how to build
		compilers, and got over my fear of C and even built a small <a
			href="https://github.com/taxborn/u8read">Unicode (UTF-8) parser</a
		>! My current interest lays in compilers, teaching myself the
		fundamentals and digging down into assembly (intel x86 only, please). I
		aim for a career where I can work on tools that help developers ship
		code, compiler design, or really just wherever my career takes me.
	</p>
	<p>You can find me online pretty much as <b>@taxborn</b>, however you can check where I am online <a href="/elsewhere" class="text-mauve hover:text-mauve/90 underline underline-offset-4">/elsewhere</a>.</p>
</Layout>
