---
import "../styles/global.css";
import Main from "../layouts/Main.astro";
---

<Main title="etc">
    <header class="mb-2">
        <h1 class="text-6xl font-bold">Other pages</h1>
        <p>All the other pages on this website.</p>
    </header>

    <main>
        <ul>
            <li><a href="/uses">/uses</a> - the tools I use</li>
            <li><a href="/colophon">/colophon</a> - how this site is built</li>
        </ul>
    </main>
</Main>
