---
import Layout from '@layouts/Layout.astro';
---

<Layout title="etv">
    <section>
        <h1>Etc</h1>
        <p>Pages that just don't belong anywhere else</p>

        <ul>
            <li><a href="/colophon">colophon</a> - technical information about this website</li>
            <li><a href="/0x">0x</a> - hashing experiments and public competition</li>
        </ul>
    </section>
</Layout>