---
import "../styles/global.css";
import Main from "../layouts/Main.astro";
---

<Main title="home">
    <header class="mb-2">
        <h1 class="text-6xl font-bold">Braxton Fair</h1>
        <h2 class="text-3xl font-bold italic tracking-tighter opacity-70">
            Software Engineer
        </h2>
    </header>

    <main>
        <p class="mb-2">
            I am a backend developer at <a href="https://thomsonreuters.com"
                >Thomson Reuters</a
            >, working mostly with Java and Spring Boot or TypeScript and React,
            developing
            <a href="https://micro-frontends.org/">micro-frontends</a> and APIs in
            the legal-tech space.
        </p>
        <p>
            After work I enjoy Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Magnam, amet voluptas maxime quibusdam numquam
            atque voluptatum cumque iste ea quo beatae sapiente qui officia
            ullam harum iure enim non id.
        </p>
    </main>
</Main>
