---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allNotes = await getCollection("notes", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
allNotes.sort(
  (a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime(),
);
---

<Layout title="home">
  <section class="mb-2">
    <h1 class="text-4xl font-bold">Hi, I'm Braxton</h1>
    <p>
      I'm a 23 year old software engineer at Thomson Reuters working on their
      Westlaw Precision product, and recent computer science graduate of <a
        href="https://mnsu.edu">Minnesota State University, Mankato</a
      >.. I mostly focus on the backend involving the Spring Java Framework,
      Tomcat, and REST APIs. I care about writing maintainable code,
      understanding the tools I use, and documenting everything. I deeply value
      <span class="font-bold"
        >sharing knowledge, educating others, and understanding new viewpoints</span
      > whether that be in computer science topics, my personal and professional
      life, or ways of life.
    </p>

    <blockquote
      class="border-l-4 border-zinc-600 pl-3 py-1 my-2 italic text-dark-text/80"
    >
      File over app. Protocol over platform.
    </blockquote>

    <p class="mb-2">
      This website intends to serve as a <a
        href="https://indieweb.org/digital_garden">digital garden</a
      > for myself for various notes, projects, and experiments.
    </p>
    <p>
      I am not terribly active online, but you can find me on most services as <strong
        >@taxborn</strong
      >. I am most active on <a href="https://github.com/taxborn">GitHub</a> and
      <a href="https://mastodon.social/@taxborn">Mastodon</a>.
    </p>
  </section>

  <section>
    <h2 class="text-3xl font-bold">Recent Notes</h2>
    <p>
      I like to write from time to time about adventures I go on, growth in my
      career, or about something I've come across. I eventually want to setup a
      personal wiki of sorts, maybe even use <a href="">obsidian publish</a>.
    </p>

    <ul class="mt-1">
      {
        allNotes.slice(0, 5).map((note) => (
          <li>
            <span class="font-bold font-mono text-sm">
              {note.data.createdDate.toDateString()}
            </span>
            <a
              href={`/note/${note.id}`}
              class="underline underline-offset-2 hover:text-primary"
            >
              {note.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
