---
import { Font } from "astro:assets";
import "../styles/global.css";

import ManSection from "../components/ManSection.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>braxton fair - home</title>
        <Font cssVariable="--font-jetbrains-mono" preload />
    </head>
    <body class="bg-ctp-base text-ctp-text w-full min-h-screen font-mono p-8">
        <header class="flex justify-between">
            <p><span class="underline uppercase">taxborn</span>(1)</p>
            <p>Braxton Fair</p>
            <p><span class="underline uppercase">taxborn</span>(1)</p>
        </header>

        <main class="my-16">
            <ManSection title="name" first={true}>
                <p>Braxton Fair - @taxborn online</p>
            </ManSection>

            <ManSection title="synopsis">
                <ul class="list-disc list-inside">
                    <li>
                        <a href="https://bsky.app/profile/taxborn.com"
                            >@taxborn.com</a
                        > on bluesky
                    </li>
                </ul>
            </ManSection>
        </main>

        <footer class="flex justify-between">
            <!-- TODO: last git commit -->
            <p>
                <a href="https://git.mischief.town/taxborn/taxborn.com"
                    >cb013ef73d</a
                >
            </p>
            <!-- TODO: last commit time? -->
            <p>2025-02-18</p>
            <p><span class="underline uppercase">taxborn</span>(1)</p>
        </footer>
    </body>
</html>
