---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
	<h1>Braxton Fair</h1>
	<h2>Braxton Fair</h2>
	<h3>Braxton Fair</h3>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus
		magna, lobortis non tincidunt ut, tincidunt ut erat. Nunc accumsan
		eleifend efficitur. Sed vitae lectus tortor. Nulla eleifend mattis
		ipsum, at varius nisl. Ut eget tortor mattis, sollicitudin elit ac,
		facilisis ex. Nullam mattis metus ut purus ullamcorper, eget tempus.
	</p>
</Layout>
