---
import Main from "../layouts/Main.astro";
---

<Main title="home">
	<h1>Hi, I'm Braxton</h1>
	<p>Welcome to my part of the internet. I am a 22 year old Software Engineer at Thomson Reuters, and graduated with my B.Sc. in Computer Science from <a href="https://www.mnsu.edu">Minnesota State University, Mankato</a>.</p>
</Main>

