---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home">
	<main>
		<pre class="text-center py-8">
     /$$$$$$       /$$                         /$$                                    
   /$$$__  $$$    | $$                        | $$                                    
  /$$_/  \_  $$  /$$$$$$    /$$$$$$  /$$   /$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$ 
 /$$/ /$$$$$  $$|_  $$_/   |____  $$|  $$ /$$/| $$__  $$ /$$__  $$ /$$__  $$| $$__  $$
| $$ /$$  $$| $$  | $$      /$$$$$$$ \  $$$$/ | $$  \ $$| $$  \ $$| $$  \__/| $$  \ $$
| $$| $$\ $$| $$  | $$ /$$ /$$__  $$  >$$  $$ | $$  | $$| $$  | $$| $$      | $$  | $$
| $$|  $$$$$$$$/  |  $$$$/|  $$$$$$$ /$$/\  $$| $$$$$$$/|  $$$$$$/| $$      | $$  | $$
|  $$\________/    \___/   \_______/|__/  \__/|_______/  \______/ |__/      |__/  |__/
 \  $$$   /$$$                                                                        
  \_  $$$$$$_/                                                                        
    \______/                                                                          
		</pre>
	</main>
</Layout>
