---
import Main from "@layouts/Main.astro";
---

<Main title="home">
    <div slot="header">
        <h1>Hi, I'm Braxton</h1>
    </div>

    <p>
        I am a Software Engineer currently working at Thomson Reuters on
        Westlaw. During the day I am working with Java and Spring, by night I
        love to experiment with different languages and learning about new
        technologies.
    </p>
    <p>
        I'm mostly interested in backend development and how to enable effective
        communication between services. I love working with APIs, learning about
        Linux and operating systems, and exploring protocols.
    </p>
    <p>
        This website will serve as a <a
            href="https://indieweb.org/digital_garden">digital garden</a
        > for myself to gather my thoughts and ideas.
    </p>
</Main>
