---
import Layout from '../layouts/Layout.astro';
import ManSection from '../components/ManSection.astro';
---

<Layout title="home">
	<main>
		<pre class="text-center py-8">
     /$$$$$$       /$$                         /$$                                    
   /$$$__  $$$    | $$                        | $$                                    
  /$$_/  \_  $$  /$$$$$$    /$$$$$$  /$$   /$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$ 
 /$$/ /$$$$$  $$|_  $$_/   |____  $$|  $$ /$$/| $$__  $$ /$$__  $$ /$$__  $$| $$__  $$
| $$ /$$  $$| $$  | $$      /$$$$$$$ \  $$$$/ | $$  \ $$| $$  \ $$| $$  \__/| $$  \ $$
| $$| $$\ $$| $$  | $$ /$$ /$$__  $$  >$$  $$ | $$  | $$| $$  | $$| $$      | $$  | $$
| $$|  $$$$$$$$/  |  $$$$/|  $$$$$$$ /$$/\  $$| $$$$$$$/|  $$$$$$/| $$      | $$  | $$
|  $$\________/    \___/   \_______/|__/  \__/|_______/  \______/ |__/      |__/  |__/
 \  $$$   /$$$                                                                        
  \_  $$$$$$_/                                                                        
	\______/<span class="cursor -mt-2">█</span>                                                                         
		</pre>

		<ManSection title="name">
			<p>Braxton (taxborn) Fair</p>
			<p><span class="font-bold">taxborn</span> is an <a href="https://en.wikipedia.org/wiki/Anagram">anagram</a> of my first name, and a username I was able to snag everywhere, so that's why I go by it online.</p>
		</ManSection>
	</main>
</Layout>
