---
import Layout from '@layouts/Layout.astro';
---

<Layout title="home">
	<h1>Hello there!</h1>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque nesciunt, reiciendis saepe nulla rem culpa accusantium ipsa tenetur alias doloremque fuga repudiandae dicta repellat omnis vitae doloribus. Eligendi, doloribus cum!</p>
</Layout>
