---
import Main from "../layouts/Main.astro";
---

<Main title="home">
    <h1 class="text-5xl font-bold">WIP</h1>
    <p>
        Working on it! Follow me on <a
            href="https://bsky.app/profile/taxborn.com"
            class="underline underline-offset-2">Bluesky (@taxborn.com)</a
        > or <a
            href="https://github.com/taxborn"
            class="underline underline-offset-2">GitHub (@taxborn)</a
        > in the meantime.
    </p>
</Main>
