---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <section>
    <h1>👋 Hello! My name is Braxton</h1>
    <p>
      Welcome to my part of the internet. I am a 22 year old Software Engineer
      at <a href="https://tr.com">Thomson Reuters</a>, and graduated with my
      B.Sc. in Computer Science from <a href="https://mnsu.edu"
        >Minnesota State University, Mankato</a
      >. You can read more of what I do professionally on my <a href="/work"
        >/work</a
      > page.
    </p>
    <p>
      Currently, I am working on developing this website and VPS management. I
      am also working on a <a href="https://github.com/taxborn/coquito"
        >hobby programming language called Coquito</a
      >, and experiments in <a href="https://github.com/taxborn/hashing"
        >how fast I can generate hashes</a
      >.
    </p>
  </section>

  <section>
    <h2>About me</h2>
    <p>
      I've been programming on and off since around 2012, where I first start
      experimenting in web development, and later trying out PHP + Laravel (you
      can find one of my first projects <a
        href="https://github.com/taxborn/ConnectU">on my GitHub!</a
      >). Then in my later middle school and early high school years, learning
      Java and working on Minecraft mods and server plugins, with a sprinkle of
      game development between Java, Unity, and the Godot engine.
    </p>
    <p>
      As I started college and throughout, I became more and more interested in
      Rust, C, and the computer at a lower level. I also learned to embrace
      Python in my toolset, and and working to become a well-rounded software
      engineer.
    </p>
    <p>
      I hope to mold this website into a <a
        href="https://indieweb.org/digital_garden">digital garden</a
      > of sorts, and create my home on the internet.
    </p>
  </section>

  <section>
    <h2>Around the web</h2>
    <p>You can generally find me as @taxborn on most services.</p>

    <ul class="list-inside list-disc">
      <li>GitHub <a href="https://github.com/taxborn">@taxborn</a></li>
      <li>
        LinkedIn <a href="https://linkedin.com/in/braxtonfair"
          >/in/braxtonfair</a
        >
      </li>
      <li>Twitter/X <a href="https://twitter.com/taxborn">@taxborn</a></li>
      <li>
        Mastodon <a href="https://indieweb.social/@taxborn"
          >@taxborn@indieweb.social</a
        >
      </li>
    </ul>
  </section>
</Layout>
