---
import Main from "../layouts/Main.astro";
---

<Main title="home">
  <h1>About me</h1>
  <p>
    👋 Hello there! My name is <b>Braxton Fair</b>, and I am a <span
      id="year"
      class="font-bold"></span> year old software engineer based out of 📍 Minneapolis,
    MN interested in APIs and working on the tools that enable developers to innovate.
  </p>
  <p>
    I currently <a href="/work">work</a> at <a href="https://tr.com"
      >Thomson Reuters</a
    > as a Software Engineer working on I graduated from <a
      href="https://mnsu.edu">Minnesota State University, Mankato</a
    > with a degree in a Computer Science, minoring in Mathematics.
  </p>
  <ul>
    <li>
      I love <a href="">open source work</a>, I <i>try</i> to stay active on my GitHub,
      and list what I'm currently working on there!
    </li>
    <li>
      I'm mainly interested in compilers and expressing software in
      understandable ways. I'm currently working on a hobby language called <a
        href="https://github.com/taxborn/coquito">coquito</a
      >, and also learning low-level languages like <a
        href="https://ziglang.org">Zig</a
      > and C.
    </li>
    <li>
      I'm a big fan of the <a href="https://indieweb.org/why">IndieWeb</a>, and
      believe people should own their content. I hope to expand this website
      into a <a href="https://indieweb.org/digital_garden">digital garden</a> of
      sorts and to collect things I find interesting.
    </li>
  </ul>
  <p>
    Outside of programming&hellip; <a href="/now">Keep up at /now &rarr;</a>.
  </p>
</Main>

<script>
  const birthdate = new Date("2001-10-18T20:56:00-05:00");
  const today = new Date();

  var age = today.getFullYear() - birthdate.getFullYear();
  // If today is BEFORE the birth month / day, then subtract one as
  // my birthday hasn't happened this year
  if (
    today.getMonth() <= birthdate.getMonth() &&
    today.getDate() <= birthdate.getDate()
  )
    age -= 1;

  const yearEl = document.getElementById("year") as HTMLElement;
  yearEl.innerHTML = age.toString();
</script>
