---
import Main from "@layouts/Main.astro";
---

<Main title="home">
    <section class="card">
        <h1>Welcome to my digital garden</h1>
        <p>
            I am a Software Engineer currently working at Thomson Reuters on
            Westlaw. During the day I am working with Java and Spring, by night
            I love to experiment with different languages and learning about new
            technologies.
        </p>
        <p>
            I'm mostly interested in backend development and how to enable
            effective communication between services. I love working with APIs,
            learning about Linux and operating systems, and exploring protocols.
        </p>
        <p>
            This website will serve as a <a
                href="https://indieweb.org/digital_garden">digital garden</a
            > for myself to gather my thoughts and ideas.
        </p>
    </section>
    <section class="card">
        <h2>Log</h2>
        <a href="/log/">More about this log</a>
        <p>
            This is a work in progress! I intend to log my time to have greater
            visibility into how I spend my time, work on my time management, and
            shift my focus in life into things I *want* to do.
        </p>
        <p>
            I don't intend on having every detail publicisized, however I want
            to have some public-facing metric of productivity, or a 10,000 foot
            view into my life.
        </p>

        <h2>Recent logged events</h2>
        <p>Currently just mock data.</p>
        <ul class="list-decimal list-inside">
            <li>2025-07-11 - 01:25 - working on Coquito</li>
            <li>2025-07-10 - 01:00 - exercise - push day</li>
            <li>2025-07-06 - 00:30 - cooking</li>
            <li>2025-07-04 - 02:30 - exercise - push day</li>
            <li>2025-06-27 - 03:00 - tough mudder / 5k with friends</li>
        </ul>
    </section>
</Main>
