---
import Main from "../layouts/Main.astro";
---

<Main title="home">
	<h1>Hi, I'm Braxton</h1>
	<p>Welcome to my part of the internet. I am a 22 year old Software Engineer at Thomson Reuters, and graduated with my B.Sc. in Computer Science from <a href="https://www.mnsu.edu">Minnesota State University, Mankato</a>.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iusto eligendi cumque voluptate obcaecati sapiente repellat perspiciatis, totam eveniet ratione, consequatur deleniti corrupti ab incidunt, quia non distinctio soluta ipsam.</p>
	<p>You can checkout what I've recently been up to on my <a href="/now">/now</a> page, or check up on my recent posts:</p>
	<ul>
		<li><a href="">Post 1: Lorem ipsum dolor sit amet</a></li>
		<li><a href="">Post 2: Consectetur adipisicing elit. Distinctio aliquam a impedit</a></li>
		<li><a href="">Post 3: Libero unde, laboriosam fugiat dolores alias!</a></li>
	</ul>
</Main>

