---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>braxton fair - home</title>
        <Font cssVariable="--font-jetbrains-mono" preload />
    </head>
    <body class="bg-ctp-base text-ctp-text w-full min-h-screen font-mono">
        <div class="container mx-auto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus quibusdam voluptates voluptatem voluptate perspiciatis
                similique reiciendis animi? Culpa cumque dignissimos adipisci
                cupiditate quisquam facilis, magnam, ex iusto quis neque sequi?
            </p>
        </div>
    </body>
</html>
