---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allNotes: CollectionEntry<"notes"> = await getCollection("notes");
---

<Layout title="home">
  <section class="mb-4">
    <h1 class="text-4xl font-bold">Hi, I'm Braxton</h1>
    <p>
      I'm a 23 year old software engineer at Thomson Reuters working on their
      Westlaw Precision product. I mostly focus on the backend involving the
      Spring Java Framework, Tomcat, and REST APIs. I care about writing
      maintainable code, understanding the tools I use, and documenting
      everything. I deeply value
      <span class="font-bold"
        >sharing knowledge, educating others, and understanding new viewpoints</span
      > whether that be in computer science topics, my personal and professional
      life, or ways of life.
    </p>

    <blockquote
      class="border-l-4 border-zinc-600 pl-3 py-1 my-2 italic text-dark-text/80"
    >
      File over app. Protocol over platform.
    </blockquote>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vitae
      rerum quia ratione a animi consectetur soluta vel dolore voluptates
      laudantium nisi quae tempore, tenetur quis cumque omnis nemo consequuntur.
      Rem beatae eveniet pariatur ipsam excepturi, sapiente nesciunt aspernatur
      nisi, cupiditate quidem a itaque est, et autem. Earum facere laudantium,
      commodi in alias quidem rerum, recusandae quasi veritatis ab iure.
    </p>
  </section>

  <section class="mb-4">
    <h2 class="text-3xl font-bold">Recent Notes</h2>
    <p>
      I like to write from time to time about adventures I go on, growth in my
      career, or about something I've come across. I eventually want to setup a
      personal wiki of sorts, maybe even use <a href="">obsidian publish</a>.
    </p>

    <ul class="mt-1">
      {
        allNotes.map((note) => (
          <li>
            <span class="font-bold font-mono text-sm">
              {note.data.createdDate.toDateString()}
            </span>
            <a
              href={`/note/${note.id}`}
              class="underline underline-offset-2 hover:text-primary"
            >
              {note.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
