---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Hi, I'm Braxton</h1>
    <p>I'm a 23 year old software engineer at Thomson Reuters working on their Westlaw Precision product.</p>
</Layout>
