---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profileImage from "../content/images/profile.jpg";
---

<Layout>
	<header class="grid grid-cols-1 sm:grid-cols-3 gap-4">
		<div class="col-span-1 sm:col-span-2 order-2 sm:order-1">
			<h1 class="text-2xl font-semibold">
				<span class="text-green">root@taxborn.com</span>:<span
					class="text-blue">~/dev</span
				>$ ./website<span class="font-black cursor">_</span>
			</h1>

			<p class="mt-2">
				Hey there! I am a <span class="font-bold" id="age"></span> year old
				software engineer attending <a href="https://mnsu.edu"
					>Minnesota State University, Mankato</a
				> majoring in computer science and minoring in mathematics. I currently
				intern at <a href="https://thomsonreuters.com"
					>Thomson Reuters</a
				> as a software engineer currently working on migrating applications
				to AWS and learning the intricacies of CI/CD.
			</p>
			<p class="my-2">
				I've been programming on and off since about 5th grade. At the
				time I was infatuated with <a
					href="https://en.wikipedia.org/wiki/Mario_Kart_Wii"
					>Mario Kart Wii</a
				>, and after stumbling across videos online of people making
				custom content / tracks for the game, I was immediately
				captivated by code and what you could make computers do. While
				looking at PowerPC assembly code initially scared me off from
				the idea, I quickly found learning web development to be a
				comfortable start to programming. Eventually, moving into PHP
				and Laravel, constructing websites that hook into databases was
				a huge step that really got me excited, creating websites with
				functionality showed me there was a big world out there.
			</p>
		</div>
		<div class="order-1 sm:order-2">
			<Image
				src={profileImage}
				alt="A bird sitting on a nest of eggs."
				class="rounded-lg"
			/>
		</div>
	</header>
	<main>
		<section class="my-8">
			<h2 class="text-3xl font-bold mb-2">
				<span class="text-mauve font-black">#</span> Projects
			</h2>

			<ul>
				<li>
					⋯<a
						href="https://github.com/taxborn/mauth-research-project"
						class="ml-2">mauth research project</a
					> - a machine learning research project in continuous authentication
					utilizing mouse dynamics
				</li>
				<li class="ml-8">
					⋯<a
						href="https://github.com/taxborn/continuous-authentication"
						class="ml-2"
						>continuous authentication experimentation</a
					> - I'm currently rewriting and re-exploring the research, trying
					to improve as I've learned a alot since this project
				</li>
				<li>
					⋯<a href="https://github.com/taxborn/betsi" class="ml-2"
						>betsi</a
					> - An implementation of the 2017 Google paper, <a
						href="https://arxiv.org/abs/1706.03762"
						target="_blank">Attention Is All You Need</a
					>, the basis for transformer models.
				</li>
				<li>
					⋯<a href="https://github.com/taxborn/coquito" class="ml-2"
						>coquito</a
					> - an experimental programming language to teach me about compilers
				</li>
				<li>
					⋯<a href="https://github.com/taxborn/u8read" class="ml-2"
						>u8read</a
					> - a UTF-8 codepoint parser in C
				</li>
				<li>
					⋯<a href="https://github.com/taxborn/scf" class="ml-2"
						>scf</a
					> - a student capacity forecaster (scf) made during Winter 2022
					for my university to forecast a number of students, courses,
					and sections to better model how many sections of a course should
					be open for a major
				</li>
				<li>
					⋯<a
						href="https://github.com/taxborn/hyperchessrs"
						class="ml-2">hyperchessrs</a
					> - I implemented an interpreter for an esoteric programming
					language (4D chess) in Rust
				</li>
			</ul>
		</section>
		<section>
			<h2 class="text-3xl font-bold mb-2">
				<span class="text-mauve font-black">#</span> Research and Conferences
			</h2>

			<ul>
				<li>
					⋯<a
						href="https://www.twincitiesacm.org/cadscom2022/"
						class="ml-2">CCSC:MW 2023</a
					> - again I presented my <a
						href="https://github.com/taxborn/mauth-research-project"
						>machine learning research project</a
					>, this time at a regional conference. My research paper was
					published in a <a href="https://www.ccsc.org/journal/"
						>national peer-reviewed journal</a
					> and is included in the <a
						href="https://dl.acm.org/doi/10.5555/3637036.3637039"
						>ACM digital library</a>
				</li>
				<li>
					⋯<a
						href="https://research.mnsu.edu/undergraduate-research-center/undergraduate-research-center-present-and-publish/undergraduate-research-symposium/"
						class="ml-2"
						>MNSU Undergraduate Research Symposium 2023</a
					> - I presented my machine learning research project for my schools
					research symposium
				</li>
				<li>
					⋯<a
						href="https://www.twincitiesacm.org/cadscom2022/"
						class="ml-2">CADSCOM 2022</a
					> - I presented my project for a local company, where I integrated
					a new datasource into their algorithmic trading engine
				</li>
			</ul>
		</section>
	</main>
</Layout>

<style>
	.cursor {
		opacity: 1;
		animation-name: fade;
		animation-duration: 1.25s;
		/* TODO: This is a fine start, but is pretty random. Make more fluent for a typing animation eventually */
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		animation-iteration-count: infinite;
	}

	@keyframes fade {
		0%,
		100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}

	a {
		@apply underline font-bold underline-offset-4;
	}

	a:hover {
		@apply text-mauve;
	}
</style>

<script>
	// My birthday is October 18th, 2001 at 8:56pm, however translates to October 19th at 1:56am in UTC
	var ageDate = new Date(
		Date.now() - Number(new Date("2001-10-19T01:56:00Z")),
	); // milliseconds from epoch
	var age = ageDate.getUTCFullYear() - 1970; // 1970 is the Unix epoch

	document.getElementById("age")!.innerHTML = String(age);
</script>
