---
import Main from "../layouts/Main.astro";
---

<Main title="home">
    <h1 class="text-5xl font-bold">WIP</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure minima
        vitae odit aliquid possimus veniam provident, voluptatum, ullam
        exercitationem necessitatibus ea laboriosam? Natus pariatur ducimus
        animi alias unde ipsa saepe?
    </p>
</Main>
