---
// TODO: Look into WebMention to see how I can go about implementing that in Astro.
// I know I don't want to spam the endpoints, so have some sort of local caching on
// what has already worked? small database somewhere?

import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const allLinks = await getCollection("links", ({ data }) => {
    return data.isDraft === false;
});

const latestLinks = allLinks.sort(
    (a, b) => +b.data.publishDate - +a.data.publishDate,
);
---

<Layout>
    <h1>All links</h1>

    <ul>
        {
            latestLinks.map((p) => (
                <li>
                    <a href={p.data.url} class="hover:underline">
                        <time
                            datetime={p.data.publishDate.toISOString()}
                            class="text-text/50"
                        >
                            {p.data.publishDate.toDateString()}
                        </time>
                        {p.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
