---
import ISODateDisplay from "@components/ISODateDisplay.astro";
import Main from "@layouts/Main.astro";

const last_updated = new Date("2025-07-15T22:40:00-05:00");
---

<Main title="time log">
    <section class="card">
        <h1>My time log</h1>
        <p>
            As I enter my mid twenties, I find myself sort of losing the time
            and I want to keep better tabs on my time. I won't publicize <span
                class="italic">every</span
            > log, but want to share some highlights, statistics, and insights.
        </p>
        <p>
            This page is under construction while I build the tool I will be
            using to track my time. Once it is functional I will have some sort
            of summary of my time log here with some graphs. In the meantime, I
            plan to post some development logs on <a href="/notes/">my notes</a>
            page.
        </p>
    </section>
    <section class="card">
        <h2>Statistics</h2>
        <p><span>Total hours logged</span>: 0 hours</p>
        <p><span>Last update</span>: <ISODateDisplay date={last_updated} /></p>
    </section>
</Main>
