---
import Main from "@layouts/Main.astro";
---

<Main title="time log">
    <section class="card">
        <h1>My time log</h1>
        <p>
            As I enter my mid twenties, I find myself sort of losing the time
            and I want to keep better tabs on my time. I won't publicize <span
                class="italic">every</span
            > log, but want to share some highlights, statistics, and insights.
        </p>
    </section>
</Main>
