---
import Layout from "../layouts/Layout.astro";
---

<Layout title="notes">
    <h1>Notes</h1>
    <p>I plan to write about topics I find interesting and want to share a bit about. This may also include links to articles I find interesting.</p>
</Layout>