---
import Layout from '@layouts/Layout.astro';
---

<Layout title="notes">
	<h1>Notes</h1>
    <p>I intend to write from time to time about things I learn about, what I've done in a week, or other organised (and disorganized!) thoughts.</p>

    <section>
        <h2>2025</h2>
        <ul>
            <li>
                <a href=""><b>2025-02-27</b> - Hardening a VPS</a>
            </li>
            <li>
                <a href=""><b>2025-01-30</b> - Hardening a VPS</a>
            </li>
            <li>
                <a href=""><b>2025-01-22</b> - Hardening a VPS</a>
            </li>
        </ul>
    </section>

    <section>
        <h2>2024</h2>
        <ul>
            <li>
                <a href=""><b>2024-12-05</b> - Hardening a VPS</a>
            </li>
            <li>
                <a href=""><b>2024-10-14</b> - Hardening a VPS</a>
            </li>
            <li>
                <a href=""><b>2024-06-03</b> - Hardening a VPS</a>
            </li>
        </ul>
    </section>
</Layout>

<style>
	p {
		@apply pt-2;
	}
</style>