---
import Main from "@layouts/Main.astro";
import { getCollection } from "astro:content";

const notes = await getCollection("notes", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});
const notes_by_published = notes.sort(
    (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<Main title="notes">
    <section class="card">
        <h1>Notes</h1>
        <p>
            I don't write too often, but it is a goal of mine in 2025 and 2026
            to write more about what I am working on, what I am learning, and
            what I am thinking about.
        </p>

        {notes.length === 0 && <p>No notes, yet.</p>}

        <ul>
            {
                notes_by_published.map((note) => (
                    <li>
                        <a href={`/notes/${note.id}`}>
                            <span class="italic text-[#cba6f7]/80">
                                {note.data.published.toLocaleDateString()}
                            </span>
                            {note.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Main>
