---
import "../styles/global.css";

import Main from "../layouts/Main.astro";
import NoteCard from "../components/NoteCard.astro";
---

<Main title="notes">
    <header class="mb-2">
        <h1 class="text-6xl font-bold">Notes</h1>
        <p>
            I don't write too often, but it is a goal of mine in 2025 and 2026
            to write more about what I am working on, what I am learning, and
            what I am thinking about.
        </p>
    </header>

    <main>
        <p class="opacity-80">No notes, yet...</p>

        <NoteCard />
        <NoteCard />
        <NoteCard />
    </main>
</Main>

<style>
    article {
        margin-bottom: 2rem;
    }
</style>
