---
import Main from "../layouts/Main.astro";
---

<Main title="now">
	<header class="mb-4">
		<h1>What I'm up to <a href="https://nownownow.com/about">now</a>.</h1>
		<i>Last updated 2024-08-07 17:25 CST</i>
	</header>

	<ul>
		<li>Currently settling into my new place with my girlfriend.</li>
		<li>Recently moved to an accessibility team at work temporarily, learning to move fast!</li>
		<li>Learning about <a href="https://en.wikipedia.org/wiki/Web_Content_Accessibility_Guidelines">WCAG</a>.</li>
		<li>Experimenting with NixOS.</li>
		<li>Working on sculpting this <a href="https://indieweb.org/digital_garden">digital garden</a>. Taking inspiration from various sites on the <a href="https://webring.xxiivv.com/">webring</a>, specifically <a href="https://emile.space/">emile.space</a>!</li>
		<li><i>Really</i> trying to learn how to cook, and cook well.</li>
	</ul>
</Main>