---
import ISODateDisplay from "@components/ISODateDisplay.astro";
import Main from "@layouts/Main.astro";

const last_updated = new Date("2025-07-11T17:47:21-05:00");
---

<Main title="now">
    <section class="card">
        <h1>What I'm doing <a href="https://nownownow.com/about">now</a></h1>
        <span>Last updated at <ISODateDisplay date={last_updated} /></span>
    </section>
</Main>
