---
import Main from "../layouts/Main.astro";
import ISODate from "../components/ISODate.astro";

const last_updated = new Date("2025-06-03T19:31:32-05:00");
---

<Main title="Now">
    <h1>What I'm doing <a href="https://nownownow.com/about">now</a>.</h1>
    <i>Last updated: <ISODate date={last_updated} /></i>

    <ul>
        <li>Working on this website!</li>
        <li>
            Trying to cultivate a digital garden, or a personal knowledgebase in
            Obsidian.
        </li>
    </ul>
</Main>
