---
import "../styles/global.css";
import Main from "../layouts/Main.astro";
---

<Main title="now">
    <header class="mb-2">
        <h1 class="text-6xl font-bold">What I'm doing now</h1>
        <p class="italic opacity-80">Last updated at 7/16/2025 in Eagan, MN.</p>
        <p>
            This serves as a place for me to detail what I'm working on,
            thinking about, or doing recently. You view more about /now pages at <a
                href="https://nownownow.com/about">nownownow.com</a
            >.
        </p>
    </header>

    <main>
        <ul class="list-disc list-inside">
            <li>
                Working on this website, a personal time tracking log, and
                building my personal homelab.
            </li>
            <li class="ml-8">
                I'm working on increasing my self-hosted infrastructure to
                decrease my reliance on third-party services, and exploring new
                tech like Docker, Nix, and Kubernetes.
            </li>
            <li>
                Focusing more on my health and eating habits, and trying to
                improve my day-to-day self care routines.
            </li>
            <li>
                Enjoying the summer! Taking a few trips to Michigan to visit
                family, camping trips with friends, and spending time at the
                local parks.
            </li>
        </ul>
    </main>
</Main>
