---
import Main from "@layouts/Main.astro";
---

<Main title="uses">
    <section class="card">
        <h1>What I use</h1>
        <a href="https://uses.tech">Check out other people's /uses pages!</a>
    </section>
</Main>
