---
import Main from "../layouts/Main.astro";
---

<Main title="uses">
    <h1>What I use</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        placeat tempore mollitia tenetur hic sequi sint accusamus magni? Quasi
        deserunt iste officia nulla non error ut accusamus repellendus eum
        minima. Beatae, commodi eligendi atque rerum fugiat debitis voluptas est
        officia architecto distinctio dolorum consequatur aperiam. Obcaecati
        recusandae eum molestias voluptatem, dicta unde numquam enim rem omnis
        sed officiis porro ea! Repellendus facilis aut, harum voluptates ut odio
        perspiciatis velit dolorum enim, distinctio dolorem praesentium
        blanditiis. Temporibus totam deserunt repudiandae, quam ratione error
        dolorum soluta dignissimos harum, laudantium saepe, sit animi.
    </p>
</Main>
