---
import Main from "../layouts/Main.astro";
---

<Main title="work">
    <h1>Where I've worked</h1>

    <ol class="relative border-s border-gray-400 dark:border-gray-700 my-8">
        <li class="mb-10 ms-4 text-base font-normal text-gray-500 dark:text-gray-400">
            <!-- The dot for the date -->
            <div class="absolute size-3 bg-indigo-500 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 "></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-400">June 2024 - Present</time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Engineer, Thomson Reuters</h3>
            <p>Got a full-time after post-graduation</p>
        </li>
        <li class="ms-4 text-base font-normal text-gray-500 dark:text-gray-400">
            <div class="absolute size-3 bg-indigo-500 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 "></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-400">March 2022 - May 2024 <i>(2 years, 2 months)</i></time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Engineer, Contract, Thomson Reuters / Maverick Software</h3>
            <p>Started my career in software engineering as a contractor for Maverick Software, working for Thomson Reuters.</p>
            <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
        </li>
    </ol>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci placeat tempore mollitia tenetur hic sequi sint accusamus magni? Quasi deserunt iste officia nulla non error ut accusamus repellendus eum minima.
    Beatae, commodi eligendi atque rerum fugiat debitis voluptas est officia architecto distinctio dolorum consequatur aperiam. Obcaecati recusandae eum molestias voluptatem, dicta unde numquam enim rem omnis sed officiis porro ea!
    Repellendus facilis aut, harum voluptates ut odio perspiciatis velit dolorum enim, distinctio dolorem praesentium blanditiis. Temporibus totam deserunt repudiandae, quam ratione error dolorum soluta dignissimos harum, laudantium saepe, sit animi.</p>

    <h2>Projects</h2>
</Main>
