---
import Layout from '@layouts/Layout.astro';
---

<Layout title="work">
	<h1>What I do</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, voluptatum perspiciatis repellendus doloribus laborum sed error delectus dolor quae repudiandae nisi minima est nobis, possimus modi qui, nam voluptates molestias?</p>

    <h2>Projects</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, voluptatum perspiciatis repellendus doloribus laborum sed error delectus dolor quae repudiandae nisi minima est nobis, possimus modi qui, nam voluptates molestias?</p>
    <h2>Work history</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, voluptatum perspiciatis repellendus doloribus laborum sed error delectus dolor quae repudiandae nisi minima est nobis, possimus modi qui, nam voluptates molestias?</p>
</Layout>

<style>
	p {
		@apply pt-2;
	}
</style>