---
import Layout from "../layouts/Layout.astro";
---

<Layout title="work">
  <section>
    <h1>💼 Professional Experience</h1>
    <p>
      I've been programming on and off since about 2012, and went to college for
      computer science, graduating with my Bachelors of Science in Computer
      Science with a minor in Mathematics.
    </p>
    <p>
      During college, I interned with <a
        href="https://www.mavericksoftware.com/">Maverick Software</a
      > and was contracted out to <a href="https://tr.com">Thomson Reuters</a>,
      where I ended up with a full-time offer and joined in June of 2024. I work
      on several projects in my free-time to improve my professional experience,
      you can check those out on /projects.
    </p>

    <article class="mb-6">
      <h2 class="text-3xl">Software Engineer @ Thomson Reuters</h2>
      <i>June 2024 - Present</i>

      <ul class="list-inside list-disc">
        <li>
          Converted legacy website code to conform to <a
            href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG 2.0</a
          > through semantic and style changes.
        </li>
        <li>
          I started with working on Westlaw Precision and Gen AI-related API
          work.
        </li>
      </ul>
    </article>

    <i class="text-sm"
      >✈️ I took a month off post-grad to travel to Ireland/the United Kingdom,
      my first time out of the country!</i
    >

    <article>
      <h2 class="text-3xl">
        Software Engineer Intern @ Maverick Software / Thomson Reuters
      </h2>
      <i>March 2022 - May 2024</i>

      <ul class="list-inside list-disc">
        <li>
          Enabled teams to move off of our on-prem legacy software towards cloud
          solutions months earlier than planned by working with GitHub Actions.
          Generated documentation and worked with teams to integrate the tool
          with their pipelines.
        </li>
        <li>
          Strengthened the integrity of our API by writing an XML response
          parser to ensure our API responses adhered to a XSD spec.
        </li>
        <li>
          Worked with Java, Apache Tomcat, JUnit to test, automate, and develop
          APIs (50+ tests created, 30+ bug reports filed).
        </li>
        <li>
          Collaborated with full-time employees across many different domains
          within the organization to improve the product and communicated.
        </li>
        <li>Improved existing some individual test runtimes by 40%.</li>
      </ul>
    </article>
  </section>

  <section>
    <h2>Projects</h2>
    <p>
      To be populated.. for now, check out my <a
        href="https://github.com/taxborn">Github</a
      >!
    </p>
  </section>
</Layout>
