---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Colophon">
  <header class="mb-2">
    <h1 class="text-4xl font-bold">Colophon</h1>
    <blockquote
      class="border-l-4 border-zinc-600 pl-3 py-1 my-2 italic text-dark-text/80"
    >
      In publishing, a colophon (<pre class="inline">/ˈkɒləfən, -fɒn/</pre>) is
      a brief statement containing information about the publication of a book
      such as an "imprint" (the place of publication, the publisher, and the
      date of publication).
      <span class="block mt-2"
        >- <a href="https://en.wikipedia.org/wiki/Colophon_(publishing)"
          >Wikipedia - Colophon (publishing)</a
        ></span
      >
    </blockquote>
    <p>
      In the context of my website, I want to use this space to write up a bit
      of how this website is run. Inspired by <a
        href="https://www.elizas.website/colophon">Eliza Weisman</a
      > and <a href="https://marcus.io/colophon">Marcus Herrmann</a>.
    </p>
  </header>

  <section class="mb-2">
    <h2 class="text-3xl font-bold">Content</h2>
    <p>
      All content is &copy; Braxton Fair and released under the <a
        href="https://creativecommons.org/licenses/by-nc/4.0/"
        >Creative Commons BY-NC 4.0</a
      >.
    </p>
  </section>

  <section class="mb-2">
    <h2 class="text-3xl font-bold">Heavy lifting</h2>
    <p>
      This website is built with <a href="https://astro.build">Astro 5</a> and is
      open source on GitHub at <a href="https://github.com/taxborn/taxborn.com"
        >taxborn/taxborn.com</a
      >. I use <a href="https://tailwindcss.com">tailwindcss</a> to help manage styles,
      though I hope to replace this with just CSS at some point.
    </p>
    <p>
      The hardware is hosted by <a href="https://us.ovhcloud.com/">OVH</a>, on a
      VPS I name Neon (I name all my devices based off of chemical elements).
    </p>
  </section>

  <section class="mb-2">
    <h2 class="text-3xl font-bold">Styling</h2>
    <p>
      I try to follow the <a href="https://catppuccin.com/">Catppuccin</a> Palette,
      it's very pleasing on the eyes and easy to invert for light-mode.
    </p>
    <p>
      As for fonts, I use <a href="https://www.brailleinstitute.org/freefont/"
        >Atkinson Hyperlegible</a
      > for most text, and <a href="https://www.jetbrains.com/lp/mono/"
        >JetBrains Mono</a
      > for monospaced text/code.
    </p>
  </section>
</Layout>
