---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="etc">
  <h1>🏰 Et cetera</h1>
  <p>
    These are several other relevant links to parts of this website that may be
    interesting.
  </p>

  <ul class="list-disc list-inside">
    <li><a href="/etc/colophon">Colophon</a> - About this website</li>
    <li>
      <a href="/etc/uses">Uses</a> - More about the hardware and software I use on
      a daily basis
    </li>
  </ul>
</Layout>
