---
import ISODateDisplay from "@components/ISODateDisplay.astro";
---

<footer class="flex justify-between text-sm">
    <p>
        Copyright &copy; Braxton Fair, last updated <ISODateDisplay
            date={new Date()}
        /> (<a href="https://github.com/taxborn/taxborn.com">repo</a>).
    </p>

    <ul>
        <li><a href="https://bsky.app/profile/taxborn.com">bluesky</a></li>
        <li><a href="https://github.com/taxborn">github</a></li>
        <li><a href="https://linkedin.com/in/braxtonfair">linkedin</a></li>
    </ul>
</footer>

<style>
    @layer components {
        li {
            display: inline;

            &:not(:first-child) {
                margin-left: 4px;
            }
        }

        abbr {
            font-style: italic;
            font-weight: var(--font-weight-semibold);
        }
    }
</style>
