---
---
<footer class="flex justify-between py-2 border-t-4 border-primary">
    <p>
    Copyright 2025 Braxton Fair
    </p>

    <ul>
        <li class="inline"><a href="">B</a></li>
        <li class="inline"><a href="">G</a></li>
        <li class="inline"><a href="">L</a></li>
    </ul>
</footer>