---
import ISODate from "./ISODate.astro";
---

<footer class="flex justify-around text-sm">
    <section>
        <i>Last updated <ISODate date={new Date()} /></i>
    </section>
    <section>
        <ul>
            <li class="inline">
                <a href="https://bsky.app/profile/taxborn.com">Bluesky</a>
            </li>
            <li class="inline">
                <a href="https://github.com/taxborn">GitHub</a>
            </li>
            <li class="inline">
                <a href="https://www.linkedin.com/in/braxtonfair/">LinkedIn</a>
            </li>
        </ul>
    </section>
</footer>

<style></style>
