---

---

<section class="flex justify-between text-sm py-2">
    <span>Copyright &copy; Braxton Fair</span>

    <span
        >This website is <a href="https://github.com/taxborn/taxborn.com"
            >open source</a
        > and <a href="https://github.com/taxborn/taxborn.com/blob/main/LICENSE"
            >MIT licensed</a
        >.</span
    >
</section>
