---
interface Props {
    title: string;
    first?: boolean;
}

const { title, first = false } = Astro.props;
const Header = first ? "h1" : "h2";
---

<section class="mb-4">
    <Header class="font-black uppercase">{title}</Header>

    <div class="ml-16 mt-2">
        <slot />
    </div>
</section>
