---
const { pwd } = Astro.props;
---

<nav class="border-gray-200 grid grid-cols-12">
    <div
        class="col-span-8 border-t-2 border-l-2 border-b-2 border-surface2 p-4"
    >
        <a href="/" class="tracking-wide col-span-8">
            <span class="text-green">root@taxborn.com</span>:<span
                class="text-blue">{pwd}</span
            >$ ./website<span class="font-black cursor">_</span>
        </a>
    </div>
    <div class="col-span-4 text-text">
        <button
            data-collapse-toggle="navbar-dropdown"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-dropdown"
            aria-expanded="false"
        >
            <span class="sr-only">Open main menu</span>
            <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 17 14"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
        </button>
        <div
            class="hidden md:block md:w-auto border-2 border-surface2 p-4"
            id="navbar-dropdown"
        >
            <ul class="flex flex-row justify-evenly font-medium">
                <li>
                    <a href="/" class="text-mauve hover:underline underline-offset-4" aria-current="page">home</a>
                </li>
                <li>
                    <button
                        id="dropdownAboutLink"
                        data-dropdown-toggle="dropdownAboutNavbar"
                        class="flex items-center justify-between w-auto hover:text-mauve"
                        >about <svg
                            class="w-2.5 h-2.5 ms-2.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 10 6"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 4 4 4-4"></path>
                        </svg></button
                    >
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownAboutNavbar"
                        class="z-10 hidden font-normal bg-mantle rounded-lg shadow w-44"
                    >
                        <ul
                            class="py-2 text-sm text-text"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    href="/about"
                                    class="block px-4 py-2 hover:text-mauve hover:bg-crust"
                                    >/about</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/elsewhere"
                                    class="block px-4 py-2 hover:text-mauve hover:bg-crust"
                                    >/elsewhere</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button
                        id="dropdownNavbarLink"
                        data-dropdown-toggle="dropdownNavbar"
                        class="flex items-center justify-between w-auto hover:text-mauve"
                        >feed <svg
                            class="w-2.5 h-2.5 ms-2.5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 10 6"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 4 4 4-4"></path>
                        </svg></button
                    >
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar"
                        class="z-10 hidden font-normal bg-mantle rounded-lg shadow w-44"
                    >
                        <ul
                            class="py-2 text-sm text-text"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    href="/feed"
                                    class="block px-4 py-2 hover:text-mauve hover:bg-crust"
                                    >/feed</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/notes"
                                    class="block px-4 py-2 hover:text-mauve hover:bg-crust"
                                    >/notes</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/links"
                                    class="block px-4 py-2 hover:text-mauve hover:bg-crust"
                                    >/links</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/tags"
                                    class="block px-4 py-2 hover:text-mauve hover:bg-crust"
                                    >/tags</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/uses" class="hover:text-mauve" aria-current="page"
                        >uses</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    import { Collapse } from "flowbite";

    new Collapse(document.getElementById("dropdownAboutNavbar"));
    new Collapse(document.getElementById("dropdownNavbarLink"));
</script>

<style>
    .cursor {
        opacity: 1;
        animation-name: fade;
        animation-duration: 1.25s;
        /* TODO: This is a fine start, but is pretty random. Make more fluent for a typing animation eventually */
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-iteration-count: infinite;
    }

    @keyframes fade {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
</style>
