---
---

<nav class="flex justify-between">
    <div>
        root@taxborn.com:~ $ ./website --help
    </div>
    <div class="inline-block">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/feed">feed</a>
    </div>
</nav>