---
const path = Astro.url.pathname;
---

<nav class="flex justify-between">
    <p class="text-sm content-center italic dark:text-white/50 text-black/50">~{path}</p>

    <ul>
        <li><a href="/" aria-current={path === "/" && "page"}>home</a></li>
        <li><a href="/about" aria-current={path === "/about" && "page"}>about</a></li>
        <li><a href="/now" aria-current={path === "/now" && "page"}>now</a></li>
        <li><a href="/uses" aria-current={path === "/uses" && "page"}>uses</a></li>
    </ul>
</nav>

<style>
    li {
        @apply inline;
    }

    a {
        @apply text-sm font-normal mx-1;
    }

    a[aria-current="page"] {
        @apply font-semibold underline;
    }
</style>