---
---

<nav class="flex justify-between">
    <div>
        root@taxborn.com:~ $ ./website --help
    </div>
    <div class="inline-block">
        <a href="">link 1</a>
        <a href="">link 2</a>
        <a href="">link 3</a>
    </div>
</nav>