---

---

<nav class="flex w-full py-4 justify-between">
    <span>taxborn.com</span>

    <ul class="inline-flex">
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
    </ul>
</nav>
