<nav>
    <span>taxborn</span>

    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/">about</a></li>
        <li><a href="/">notes</a></li>
        <li><a href="/">etc</a></li>
    </ul>
</nav>