---
interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
const path = Astro.url.pathname;
---

<li>
    <a href={href} class:list={{ active: path === href }}>{text}</a>
</li>

<style>
    @layer components {
        li {
            display: inline;

            &:not(:first-child)::before {
                content: "/ ";
            }
        }

        a.active {
            font-weight: var(--font-weight-bold);
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
</style>
