---
interface Props {
    title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<li class="inline">
    <a href={href} class="ml-1 hover:underline underline-offset-2">{title}</a>
</li>
