---
import NavLink from "./NavLink.astro";
---

<nav class="my-2 md:flex md:justify-between text-sm">
    <div>
        <NavLink link="/" title="taxborn.com" />
    </div>
    <div>
        <NavLink link="/work" />
        <NavLink link="/projects" />
        <NavLink link="/garden" />
        <NavLink link="/now" />
    </div>
</nav>

<hr class="border my-2" />

<style>
    a {
        @apply hover:font-bold;
    }

    a[aria-current="page"] {
        @apply font-bold;
    }
</style>