---

---

<nav class="flex justify-between">
    <div>
        <p>Braxton Fair</p>
    </div>
    <div>
        <ul>
            <li class="inline"><a href="">Home</a></li>
            <li class="inline"><a href="">About</a></li>
            <li class="inline"><a href="">Notes</a></li>
        </ul>
    </div>
</nav>
