---
interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
const path = Astro.url.pathname;
---

<li>
    <a data-path={path} href={href} class:list={{ active: path === href }}
        >{text}</a>
</li>

<style>
    @layer components {
        li {
            display: inline;

            &:not(:first-child) {
                margin-left: 4px;
            }
        }

        a {
            color: var(--color-text);

            &.active {
                color: var(--color-indigo-600);
            }
        }
    }
</style>
