<nav class="border-b-2 border-black flex justify-between">
    <a href="/">taxborn.com</a>

    <ul>
        <!-- Links -->
        <li class="nav-link"><a href="/about">about</a></li>
        <li class="nav-link"><a href="/work">work</a></li>
        <li class="nav-link"><a href="/notes">notes</a></li>
        <li class="nav-link"><a href="/etc">etc</a></li>
        <!-- Theme selector -->
        <li><button>Light</button></li>
    </ul>
</nav>

<style>
    li {
        @apply inline ml-2;
    }
</style>