---

---

<nav class="fixed right-0 p-4 text-xl">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/notes">Notes</a>
        </li>
        <li>
            <a href="/now">Now</a>
        </li>
        <li>
            <a href="/etc">Etc</a>
        </li>
    </ul>
</nav>

<style>
    li {
        display: inline-block;
        font-weight: var(--font-weight-bold);

        &:not(:first-child) {
            margin-left: 1rem;
        }
    }
</style>
