---
import NavItem from "./NavItem.astro";
---

<nav class="mb-2 border-b-4 border-b-indigo-300 py-1">
    <ul class="flex justify-end">
        <NavItem href="/" text="home" />
        <NavItem href="/notes" text="notes" />
        <NavItem href="/uses" text="uses" />
        <NavItem href="/now" text="now" />
    </ul>
</nav>
