---
import NavItem from "./NavItem.astro";
---

<nav class="flex text-sm md:text-md justify-between card shadow-md">
    <ul>
        <NavItem href="/" text="home" />
        <NavItem href="/notes/" text="notes" />
        <NavItem href="/now/" text="now" />
        <NavItem href="/uses/" text="uses" />
    </ul>

    <a href="" class="text-right">512 hours logged &rarrb;</a>
</nav>
