---
import NavItem from "./NavItem.astro";
---

<nav class="flex justify-between">
    <div>
        <b>Braxton Fair</b>
    </div>
    <div>
        <ul>
            <NavItem title="Home" href="/" />
            <NavItem title="About" href="/about" />
            <NavItem title="Notes" href="/notes" />
        </ul>
    </div>
</nav>
