---
import NavItem from "./NavItem.astro";
---

<nav class="flex justify-between">
    <div>
        {Astro.url.pathname != "/" && <b>Braxton Fair</b>}
    </div>
    <div>
        <ul>
            <NavItem title="Home" href="/" />
            <NavItem title="Notes" href="/notes" />
            <NavItem title="Now" href="/now" />
        </ul>
    </div>
</nav>
