---
---

<nav class="flex justify-end py-4">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/now">Now</a></li>
        <li><a href="/etc">Etc</a></li>
    </ul>
</nav>

<style>
    li {
        @apply inline;
    }

    a {
        font-family: 'Oswald Variable';

        @apply font-medium tracking-wider;
    }
</style>