---
import ThemeSelect from "./ThemeSelect.astro";
---

<nav class="flex justify-end py-6">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/notes">Notes</a></li>
    <li><a href="/now">Now</a></li>
    <li><a href="/etc">Etc</a></li>

    <li>
      <ThemeSelect />
    </li>
  </ul>
</nav>

<style>
  li {
    @apply inline mx-0.5;
  }

  a {
    @apply font-bold tracking-wider no-underline hover:underline underline-offset-2;
  }

  select {
    @apply ml-4;
  }
</style>
