---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";

interface Props {
    note: CollectionEntry<"notes">;
}

const { note } = Astro.props;
---

<article class="bg-gray-200 p-2 mb-2">
    <h2><a href={`/note/${note.id}`}>{note.data.title}</a></h2>
    <span>{note.data.published.toLocaleDateString()}</span>

    <div>
        {note.data.tags?.map((tag) => <Tag tag={tag} />)}
    </div>
</article>
