---
interface Props {
    tag: string;
}

const { tag } = Astro.props;

// an array of gradient options with start color, end color, and text color
// TODO: Pick a better color scheme
const options = [
    {
        gradient: "bg-gradient-to-r from-blue-500 to-blue-700",
        textColor: "text-white",
    },
    {
        gradient: "bg-gradient-to-r from-green-500 to-green-700",
        textColor: "text-white",
    },
    {
        gradient: "bg-gradient-to-r from-red-500 to-red-700",
        textColor: "text-white",
    },
    {
        gradient: "bg-gradient-to-r from-yellow-500 to-yellow-700",
        textColor: "text-black",
    },
    {
        gradient: "bg-gradient-to-r from-purple-500 to-purple-700",
        textColor: "text-white",
    },
    {
        gradient: "bg-gradient-to-r from-pink-500 to-pink-700",
        textColor: "text-white",
    },
    {
        gradient: "bg-gradient-to-r from-indigo-500 to-indigo-700",
        textColor: "text-white",
    },
    {
        gradient: "bg-gradient-to-r from-cyan-500 to-cyan-700",
        textColor: "text-black",
    },
];

// generate a hash using the tag
const hash = tag.split("").reduce((acc, char) => acc + char.charCodeAt(0), 0);

// get gradient options from the array using the hash
const selectedOption = options[hash % options.length];
---

<span
    class={`${selectedOption.gradient} ${selectedOption.textColor} px-2 py-1 rounded-md text-xs font-black mr-1 text-center`}
>
    {tag}
</span>
