---

---

<theme-selector></theme-selector>
<label for="theme-selector" class="sr-only">Website theme selector</label>

<script is:inline>
  if (!customElements.get("theme-selector")) {
    customElements.define(
      "theme-selector",

      class extends HTMLElement {
        connectedCallback() {
          this.innerHTML = `
            <select id="theme-selector">
              <option value="auto">Auto</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          `;
          this.querySelector("select").onchange = (event) =>
            theme.setTheme(event.target.value);
          this.setAttribute("aria-label", "Select Theme");
          this.updateSelectedTheme();

          document.addEventListener("theme-changed", (event) => {
            this.updateSelectedTheme(event.detail.theme);
          });
        }

        updateSelectedTheme(newTheme = theme.getTheme()) {
          this.querySelector("select").value = newTheme;
        }
      },
    );
  }
</script>

<style>
  select {
    @apply ml-4;
  }
</style>
