---
import { getCollection, render } from 'astro:content';
import NoteLayout from '@layouts/NoteLayout.astro';
import DateAbbr from '@components/DateAbbr.astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const notes: CollectionEntry<'notes'>[] = await getCollection("notes", (note) => {
      return import.meta.env.PROD ? note.data.draft !== true : true;
  });

  return notes.map((note: CollectionEntry<'notes'>) => ({
    params: { id: note.id },
    props: { note },
  }));
}

interface Props {
    note: CollectionEntry<'notes'>
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<NoteLayout title={note.data.title} description={note.data.description}>
    <section>
      <a href="/notes">&larr; Back to notes</a>
      <p class="text-sm italic text-text/50 mb-2 mt-1">Written <DateAbbr date={note.data.created_at}/> {note.data.updated_at && <span>, updated at <DateAbbr date={note.data.updated_at}/></span>}</p>

      <div class="prose prose-invert prose-lg hover:prose-a:text-green prose-a:text-text prose-p:text-text prose-headings:text-text prose-code:text-text prose-strong:text-text prose-li:text-text">
        <Content />
      </div>
    </section>
</NoteLayout>