---
import { getCollection, render } from "astro:content";
import Main from "@layouts/Main.astro";

export async function getStaticPaths() {
    const notes = await getCollection("notes");
    return notes.map((note) => ({
        params: { id: note.id },
        props: { note },
    }));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<Main title={note.data.title}>
    <div slot="header">
        <h1>{note.data.title}</h1>
        <a href="/notes">Back to notes</a>
    </div>

    <Content />
</Main>
