@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible", "sans-serif";
  --font-mono: "JetBrains Mono Variable", "monospace";

  --color-primary: var(--color-emerald-700);

  --color-dark-bg: var(--color-zinc-900);
  --color-dark-text: var(--color-zinc-200);
  --color-light-bg: var(--color-zinc-200);
  --color-light-text: var(--color-zinc-900);
}
