---
import "@fontsource-variable/oswald";
import "@fontsource/atkinson-hyperlegible";
import { ViewTransitions } from "astro:transitions";

import Navigation from "../components/Navigation.astro";
import ThemeManager from "../components/ThemeManager.astro";

import "../styles/blog.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>taxborn.com - {title}</title>

    <ThemeManager defaultTheme="auto" />
    <ViewTransitions />
  </head>

  <body class="border-t-4 border-indigo-500 overflow-y-scroll">
    <main class="container max-w-4xl mx-auto px-2 text-lg">
      <header>
        <Navigation />

        <a href="/notes" class="mb-4">&larr; Back to notes</a>
      </header>

      <slot />
    </main>
  </body>
</html>

<style is:global>
  a {
    @apply underline text-indigo-500 dark:text-indigo-300;
  }
</style>
