---
interface Props {
    title: string;
}

const { title } = Astro.props;

import { Font, Image } from "astro:assets";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import bgImage from "../img/mandelbrot_full_magenta.png";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>braxton fair - {title}</title>
        <Font cssVariable="--font-jetbrains-mono" preload />
    </head>
    <body
        class="relative bg-ctp-base text-ctp-text w-full min-h-screen font-mono overflow-x-hidden"
    >
        <Image
            src={bgImage}
            alt="A zoomed out view of the mandelbrot set. Colorized using catppuccin, specifically the mauve color."
            class="fixed inset-0 w-full h-full object-cover blur-sm -z-10 select-none pointer-events-none"
            aria-hidden="true"
        />
        <Navigation />
        <div class="container mx-auto">
            <slot />
        </div>
    </body>
</html>
