---
import "@fontsource-variable/oswald";
import "@fontsource/atkinson-hyperlegible";
import { ViewTransitions } from "astro:transitions";

import Navigation from "../components/Navigation.astro";
import ThemeManager from "../components/ThemeManager.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>taxborn.com - {title}</title>
    <ThemeManager defaultTheme="auto" />
    <ViewTransitions />
  </head>

  <body class="border-t-4 border-indigo-500 overflow-y-scroll">
    <main class="container max-w-4xl mx-auto px-2 text-lg">
      <header>
        <Navigation />
      </header>

      <slot />
    </main>
  </body>
</html>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald Variable";

    @apply font-medium;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply my-4;
  }

  a {
    @apply underline text-indigo-500 dark:text-indigo-400;
  }
</style>
