---
import "@fontsource-variable/jetbrains-mono";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="computer science student with a focus in project-based learning at mnsu, mankato."
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Braxton Fair</title>
	</head>
	<body class="font-mono text-text bg-base">
		<Navbar />

		<div class="container mx-auto px-2">
			<slot />
		</div>
	</body>
</html>
