---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- TODO -->
		<!-- <meta name="description" content="Astro description" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Braxton (taxborn) Fair</title>
	</head>
	<body class="font-mono p-4">
		<header>
			<div class="flex justify-between font-bold text-lg">
				<p>TAXBORN(1)</p>
				<h1>Braxton Fair</h1>
				<p>TAXBORN(1)</p>
			</div>
		</header>

		<slot />
	</body>
</html>
