---
interface Props {
    title: string;
}

const { title } = Astro.props;

import { Font } from "astro:assets";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>braxton fair - {title}</title>
        <Font cssVariable="--font-jetbrains-mono" preload />
    </head>
    <body class="bg-ctp-base text-ctp-text w-full min-h-screen font-mono">
        <Navigation />
        <slot />
    </body>
</html>
