---
import "../assets/global.css";
import Navigation from "../components/nav/Bar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Braxton Fair - {title}</title>
	</head>
	<body>
        <div class="container mx-auto p-2">
            <Navigation />

            <slot />
        </div>
	</body>
</html>