---
import "../assets/global.css";
import Navigation from "../components/nav/Bar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Braxton Fair - {title}</title>
	</head>
	<body>
        <div class="container mx-auto p-2">
            <div class="bg-blue-700 text-white p-2">
                <span class="font-bold">Hey!</span> This is a work in progress and will be updating as I work on it. Things will be broken with some dead links as I work on my garden :)
            </div>

            <Navigation />

            <slot />
        </div>
	</body>
</html>