---
import '@fontsource-variable/jetbrains-mono';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="computer science student with a focus in project-based learning at mnsu, mankato." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Braxton Fair</title>
	</head>
	<body class="font-mono">
		<slot />
	</body>
</html>