---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import { Font } from "astro:assets";

interface Props {
    title: string;
    description?: string;
}

const defaultDescription = "Braxton Fair's personal website and digital garden";

const { title, description = defaultDescription } = Astro.props;
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <title>{title}</title>

        <Font cssVariable="--font-atkinson-hyperlegible" preload />
        <Font
            cssVariable="--font-jetbrains-mono"
            preload={Astro.url.pathname.startsWith("/notes")}
        />
    </head>
    <body class="bg-white dark:bg-black dark:text-white">
        <section class="container mx-auto max-w-4xl p-2">
            <header>
                <!-- Navigation -->
                <Navigation />
                <!-- Any extra header content -->
                <slot name="header" />
            </header>

            <main class="py-4">
                <slot />
            </main>

            <!-- Footer -->
            <Footer />
        </section>
    </body>
</html>
