---
import { Font } from "astro:assets";
import Navigation from "../components/Navigation.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>taxborn.com - {title}</title>

        <script>
            document.documentElement.classList.toggle(
                "dark",
                localStorage.theme === "dark" ||
                    (!("theme" in localStorage) &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches),
            );
        </script>

        <Font cssVariable="--font-atkinson-hyperlegible-next" preload />
        <Font cssVariable="--font-atkinson-hyperlegible-mono" />
    </head>

    <body>
        <Navigation />

        <div class="container mx-auto max-w-3xl my-auto p-2">
            <slot />
        </div>
    </body>
</html>
