---
import { ViewTransitions } from 'astro:transitions';
import SpeedInsights from "@vercel/speed-insights/astro"
import Navbar from "../components/Navbar.astro";

import "@fontsource-variable/overpass";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>@taxborn - {title}</title>

        <ViewTransitions />
	</head>

	<body class="bg-slate-100 dark:bg-slate-900 dark:text-white p-4">
        <div class="container mx-auto max-w-4xl">
            <Navbar />

            <slot />
        </div>

		<SpeedInsights />
	</body>
</html>

<style is:global>
    h1 {
        @apply font-bold text-5xl;
    }

    a {
        @apply font-bold hover:underline underline-offset-2;
    }
</style>
