---
import Head from "@components/Head.astro";
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";
// Fonts
import "@fontsource/atkinson-hyperlegible";
import '@fontsource-variable/jetbrains-mono';

interface Props {
	title: string,
	description: string,
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="mocha">
	<Head title={title} description={description} />

	<body class="bg-base text-text">
		<div class="container mx-auto max-w-3xl p-2 text-lg font-serif">
			<header>
				<Navigation />
			</header>

			<main>
				<slot />
			</main>

			<Footer />
		</div>
	</body>
</html>

<style is:global>
	a {
		@apply underline underline-offset-1 hover:underline-offset-2 hover:text-green;
	}

	h1 {
		@apply font-bold text-3xl;
	}

	h2 {
		@apply font-bold text-2xl;
	}

	h3 {
		@applu font-bold text-xl;
	}

	section {
		@apply my-4;
	}

	section p:not(:first-of-type):not(:last-of-type) {
		@apply my-4;
	}

    article {
        @apply my-2;
    }

	img {
		@apply rounded shadow-md;
	}

	code {
		font-weight: 600 !important;
	}
</style>