---
import Item from "./Item.astro";
---

<nav class="flex justify-between py-2">
    <span>taxborn</span>

    <ul>
        <Item href="/" text="home" />
        <Item href="/about" text="about" />
        <Item href="/notes" text="notes" />
        <Item href="/etc" text="etc" />
    </ul>
</nav>