---
import Item from "./Item.astro";
---

<nav class="flex justify-end py-2">
    <ul class="border-b-4 border-primary">
        <Item href="/" text="home" first />
        <Item href="/about" text="about" />
        <Item href="/notes" text="notes" />
        <Item href="/now" text="now" />
        <Item href="/etc" text="etc" />
    </ul>
</nav>