---
interface Props {
    href: string;
    text: string;
    first?: boolean;
}

const { href, text, first = false } = Astro.props;
---
<li class={`${!first ? 'ml-3' : ''} inline`}><a href={href} class="hover:underline font-bold hover:text-primary underline-offset-2">{text}</a></li>